* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  border-radius: 5%;
  height: 800px;
  width: 500px;
  background-color: #3D4154;
}

.container-keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.keyboard {
  display: grid;
  grid-template-columns: 64px 64px 64px;
  grid-gap: 36px;
}

.btn-enter {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 48px;
  height: 36px;
  background-color: #6e6e6e;
  color: rgb(61, 155, 61);
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
}

.btn-enter:hover{
  box-shadow: 0px 0px 5px 5px black;
}